
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      // This is now checking the custom claim as per your suggestion.
      return isSignedIn() && request.auth.token.admin == true;
    }
    
    // User ad submissions (logos, etc.)
    match /advertisements/{userId}/{fileName} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isOwner(userId);
    }
    
    // Ad proof files uploaded by an admin.
    match /advertisements/{userId}/{advertisementId}/{fileName} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isAdmin();
    }
  }
}
