
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return exists(/databases/(default)/documents/roles_admin/$(request.auth.uid));
    }
    
    // Original files from user ad submission. User can write to their own folder.
    // Admins can read any file.
    match /advertisements/{userId}/{fileName} {
      allow read: if isAdmin();
      allow write: if isOwner(userId);
    }
    
    // Ad proof files uploaded by an admin.
    // Admins can write. The owner of the ad can read their own proof.
    match /advertisements/{userId}/{advertisementId}/{fileName} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isAdmin();
    }
  }
}
